#include <stdint.h>

{# Defines #}
{%- for define in defines -%}
#define {{ define.name }} {{ define.value }}
{%- endfor %}

typedef struct {{ struct_name }} {
{%- for field in struct_fields -%}
    {{ field.type }} {{ field.name }};
{%- endfor %}
} {{ struct_name }};